<div class="container-fluid p-4">
  <div class="row">
    <div class="col-12">
      <div class="page-title">
        <h1>Leaderboard</h1>
      </div>
    </div>
    <div class="col-12">
      <div class="page-filter">
        <form class="form-inline justify-content-end">
          <label class="my-1 ml-4" for="timeline">Timeline</label>
          <select class="my-1 ml-4" id="timeline">
            <option selected disabled hidden>Daily</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>

          <label class="my-1 ml-4" for="sortByCountry">Sort by</label>
          <select class="my-1 ml-4" id="sortByCountry">
            <option selected disabled hidden>Country</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </form>
      </div>
    </div>
    <div class="col-12">
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" fixedLayout="false" class="leaderboard-table">

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef class="auto-min-column"></th>
            <td mat-cell *matCellDef="let element" class="auto-min-column text-center" [class.mat-row--sticky]="element.name === 'Sylvester Ayodele'">
              <img *ngIf="element.position === 1" src="/assets/images/leaderboard-first.png" alt=""
                class="leaderboard-position">
              <img *ngIf="element.position === 2" src="/assets/images/leaderboard-second.png" alt=""
                class="leaderboard-position">
              <img *ngIf="element.position === 3" src="/assets/images/leaderboard-third.png" alt=""
                class="leaderboard-position">
              <span *ngIf="element.position > 3">{{element.position}}</span>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="auto-min-column"></th>
            <td mat-cell *matCellDef="let element" class="auto-min-column" [class.mat-row--sticky]="element.name === 'Sylvester Ayodele'">
              <img src="/assets/images/leaderboard-avatar.png" alt="" class="leaderboard-avatar"> {{element.name}}
            </td>
          </ng-container>

          <!-- Points Column -->
          <ng-container matColumnDef="points">
            <th mat-header-cell *matHeaderCellDef class="text-right"> Points </th>
            <td mat-cell *matCellDef="let element" class="text-right"  [class.mat-row--sticky]="element.name === 'Sylvester Ayodele'"> {{element.points}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row
            *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
