<div class="container-fluid p-4">
  <div class="row">
    <div class="col-12">
      <in-backbutton></in-backbutton>
      <!-- <button class="btn btn-danger text-white pull-right" (click)="onCreateDetail({id:''})">New Customers</button> -->
      <a [routerLink]="['/dashboard/customers/detail/']" class="btn btn-danger text-white pull-right">New Customers </a>
      <div class="page-title">
        <h1>Customers</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row" *ngIf="!container['loading']">
            <div class="col-md-12">
              <fieldset>
                <form (ngSubmit)="onDownload(container['filter'])" #heroForm="ngForm">
                  <legend class="cursor-pointer" (click)="container['reports']=!container['reports']">
                      <span>Download Report</span>
                      <i class="fa fa-2x fa-question-circle-o text-warning"
                          matTooltip="Click to download reports"
                          aria-label="Button that displays a tooltip when focused or hovered over"></i>
                  </legend>
                  <span *ngIf="container['reports']">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="dob">Choose Type</label>
                          <ng-select [items]="filters" name="type" bindLabel="name" [(ngModel)]="container['filter']"
                             (change)="container['filterType'] = []; container['endpoint'] = container['filter']['endpoint']"></ng-select>
                        </div>
                      </div>
                      <div class="col-md-3" *ngIf="container['filter'] && container['filter']['children']">
                        <div class="form-group" *ngFor="let child of container['filter']['children']; let j = index">
                          <label for="dob">Choose {{child['name']}}</label>

                          <ng-select [items]="container['child'+j] | async" bindLabel="name" name="{{'child'+j}}"
                                    (click)="commonServices.getLOVs(child['source'], 'child'+j, container, {loading: 'child'+j+'Loading'})"
                                    (change)="assetChange(container['filter'], child['selected'])"
                                    notFoundText = "{{container['child'+j+'Loading'] || 'No items found'}}"
                                    placeholder="Select {{child['name']}}" [(ngModel)]="child['selected']">
                          </ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-9" *ngIf="container['filter'] && (container['filter']['types'] || container['filter']['children'].length>0)">
                        <label>Choose Filter</label>
                        <div *ngFor="let filter of container['filterType']; let i = index" class="row mb-3">
                          <div class="col-md-3 p0 m0">
                            <ng-select [items]="container['filter']['types']" name="types" bindLabel="name" [(ngModel)]="container['filterType'][i]"
                                (change)="container['filterType'][i]['answer']={}">
                            </ng-select>
                          </div>
                          <div class="col-md-2 p0 m0">
                            <i class="fa fa-3x fa-trash-o text-danger cursor-pointer" (click)="container['filterType'].splice(i, 1); container['filterType'][i]['answer']={}"></i>
                          </div>
                          <div class="col-md-7">
                            <!-- {{container['filterType'][i] | json}} -->
                            <label class="switch" *ngIf="container['filterType'][i]['type'] == 'boolean';">
                              <div class="toggle">
                                  <input type="checkbox" class="toggle-state" name="{{'selected'+i}}" [(ngModel)]="container['filterType'][i]['answer']['selected']" />
                                  <div class="toggle-inner"><div class="indicator"></div></div>
                                  <div class="active-bg"></div>
                              </div>
                              <div class="switch-text">
                                  {{container['filterType'][i]['name']}}
                              </div>
                            </label>

                            <div *ngIf="container['filterType'][i]['type'] == 'range'">
                              <div class="row">
                                <div class="form-group has-search col-md-6">
                                  <mat-datepicker-toggle matSuffix [for]="from" class="form-control-feedback"></mat-datepicker-toggle>
                                  <mat-datepicker #from></mat-datepicker>
                                  <input class="form-control" name="{{'from'+i}}" placeholder="From" matInput [matDatepicker]="from" (click)="from.open()"
                                      [(ngModel)]="container['filterType'][i]['answer']['from']" [max]="container['filterType'][i]['answer']['to']" />
                                </div>
                                <div class="form-group has-search col-md-6">
                                  <mat-datepicker-toggle matSuffix [for]="to" class="form-control-feedback"></mat-datepicker-toggle>
                                  <mat-datepicker #to></mat-datepicker>
                                  <input class="form-control" name="{{'to'+i}}" placeholder="To" matInput [matDatepicker]="to" (click)="to.open()"
                                      [(ngModel)]="container['filterType'][i]['answer']['to']" [min]="container['filterType'][i]['answer']['from']" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <a href="javascript:;"*ngIf="container['filterType'].length < container['filter']['types'].length"
                          (click)="container['filterType'].push({})">Add Filter</a>
                      </div>
                    </div>
                    <div class="row" *ngIf="container['filter']">
                      <div class="col-md-6"></div>
                      <div class="col-md-6">
                        <button class="btn btn-warning text-white pull-right">
                          <span *ngIf="!container['uploading']">Upload</span>
                          <mat-spinner *ngIf="container['uploading']" [diameter]="30"></mat-spinner>
                        </button>
                        <button class="btn btn-danger text-white pull-right">
                          <span *ngIf="!container['downloading']">Download</span>
                          <mat-spinner *ngIf="container['downloading']" [diameter]="30"></mat-spinner>
                        </button>
                      </div>
                    </div>
                  </span>
                </form>
              </fieldset>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <input type="text" placeholder="Enter search term, then hit enter to search" class="form-control" (keydown.enter)="onSearch($event.target.value)">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" fixedLayout="false" class="leaderboard-table">

                  <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef>First Name</th>
                    <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
                  </ng-container>

                  <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef>Last Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                  </ng-container>

                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                  </ng-container>
                  <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef>Phone</th>
                    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element"> {{element.status}}</td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation();">
                      <span class="header-menu">
                        <button mat-icon-button [matMenuTriggerFor]="historylistmenu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #historylistmenu="matMenu">
                          <a href="javascript:;" (click)="onMakePayment(element)" mat-menu-item>
                            <mat-icon>drive_file_rename_outline</mat-icon> View Details
                          </a>
                        </mat-menu>
                      </span>
                      <!-- <mat-spinner *ngIf="deleting" [diameter]="20"></mat-spinner> -->
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onClickRow(row)" class="cursor-pointer"></tr>
                </table>
              </div>
              <div *ngIf="isLoading$ | async" class="mat-spinner-container">
                <mat-spinner></mat-spinner>
              </div>
              <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
              <mat-paginator [length]="total_count" [showFirstLastButtons]="true" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
