<div class="course-form">
  <form>
    <div class="row">
      <div class="col-lg-9">
        <div class="row">
          <div class="form-group col-md-4 inl-form-custom-input">
            <div class="custom-file upload-cover-art">
              <input type="file" class="custom-file-input" id="uploadCoverArt">
              <label class="custom-file-label" for="uploadCoverArt">
                <mat-icon>add_circle_outline</mat-icon>
                <p class="text">Upload Cover Art <br>1: 1 Dimension</p>
              </label>
            </div>
          </div>
          <div class="form-group col-md-8 inl-form-input">
            <label for="inputEmail4" class="mt-md-5">Course Title</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group col-md-12 inl-form-input">
            <label for="inputAddress">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="form-group col-md-6 inl-form-input">
            <label for="inputAddress">Category</label>
            <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="form-group col-md-6 inl-form-input">
            <label for="inputAddress">Provider</label>
            <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="form-group col-md-6 inl-form-input">
            <label for="inputAddress">Course fee</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group col-md-6 inl-form-input">
            <label for="inputAddress">Published By</label>
            <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="page-title border-bottom mb-4">
          <h2>ATTRIBUTES</h2>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-12 attribute-status mb-4">
            <div class="page-title">
              <h3>STATUS</h3>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="customRadio" id="customRadio1">
              <label class="custom-control-label color-green" for="customRadio1">APPROVED</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="customRadio" id="customRadio2">
              <label class="custom-control-label color-red" for="customRadio2">UNAPPROVED</label>
            </div>
          </div>
          <div class="col-md-6 col-lg-12 attribute-level">
            <div class="page-title">
              <h3>LEVEL</h3>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="customRadio1" id="customRadio3">
              <label class="custom-control-label" for="customRadio3">BEGINNER</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="customRadio1" id="customRadio4">
              <label class="custom-control-label" for="customRadio4">INTERMEDIATE</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="customRadio1" id="customRadio5">
              <label class="custom-control-label" for="customRadio5">ADVANCE</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="page-title">
          <h2>LESSONS (Videos, PDFs, Articles, Audios)</h2>
        </div>
      </div>
      <div class="form-group col-md-3 inl-form-custom-input">
        <div class="custom-file upload-lesson">
          <input type="file" class="custom-file-input" id="uploadLesson">
          <label class="custom-file-label" for="uploadLesson">
            <mat-icon>folder_open</mat-icon>
            <p class="text"> Drag and drop files here <br>or <br>Browse file</p>
          </label>
        </div>
      </div>
    </div>
  </form>
</div>
