<ng-template #loading>
  <mat-spinner [diameter]="60"></mat-spinner>
</ng-template>
<div class="row m-2" *ngIf="!(commonServices.isLoading$ | async); else loading">
  <div class="socials-form-container col-12">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Personal Website</label>
          <input formControlName="website" type="text" class="form-control" placeholder="Personal Website">
          <span *ngIf="uiErrors.website">{{uiErrors.website}}</span>
        </div>
        <div class="form-group col-md-6">
        </div>
        <div class="form-group col-md-6">
          <label for="inputAddress">Twitter</label>
          <input formControlName="twitter" type="text" class="form-control" placeholder="Twitter">
          <span *ngIf="uiErrors.twitter">{{uiErrors.twitter}}</span>
        </div>
        <div class="form-group col-md-6">
        </div>
        <div class="form-group col-md-6">
          <label for="inputAddress">Facebook</label>
          <input formControlName="facebook" type="text" class="form-control" placeholder="Facebook">
          <span *ngIf="uiErrors.facebook">{{uiErrors.facebook}}</span>
        </div>
        <div class="form-group col-md-6">
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">LinkedIn</label>
          <input formControlName="linkedIn" type="text" class="form-control" placeholder="LinkedIn">
          <span *ngIf="uiErrors.linkedIn">{{uiErrors.linkedIn}}</span>
        </div>
        <div class="form-group col-md-6">
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">Youtube</label>
          <input formControlName="youtube" type="text" class="form-control" placeholder="Youtube">
          <span *ngIf="uiErrors.youtube">{{uiErrors.youtube}}</span>
        </div>
        <div class="form-group col-md-6">
        </div>
        <div class="form-group col-md-12">
          <button mat-flat-button type="submit" class="auth-button" [disabled]="container['submitting']">
            <span *ngIf="!container['submitting']">Update Social Links</span>
            <mat-spinner *ngIf="container['submitting']" [diameter]="30"></mat-spinner>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
