.mat-list-base {
  .mat-list-item {
    height: 82px;

    .mat-list-avatar {
      border-radius: 10px;
      height: 53px;
      width: auto;
    }

    a.mat-line {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #000000;
      text-decoration: none;
    }

    .mat-line:nth-child(n+2) {
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: #666666;

      .pill {
        display: inline-block;
        text-align: center;
        background: #F9F2CE;
        color: #1E1F20;
        border-radius: 10px;
        margin-left: 10px;
        font-weight: bold;
        font-size: 10px;
        width: 70px;

        &.color-cream {
          background: #F9F2CE;
        }

        &.color-pink {
          background: #FFD1C1;
        }

        &.color-green {
          background: #D1FEC1;
        }

        &.color-blue {
          background: #C9D7DE;
        }
      }
    }
  }
}
