<div class="row mb-3">
  <div class="col-md-12">
    <a routerLink="/auth/signup" class="pull-right text-primary">
      Create an account
    </a>
    <h1>Verify OTP</h1>
  </div>
</div>
<div class="row mb-5">
  <div class="col-md-12">
    <span class="text-muted font-weight-bold">Verify your account with your email address and otp</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email" *ngIf="myForm.get('email').value">Email</label>
        <input class="form-control" id="email" formControlName="email" type="email" placeholder="Email" (keyup)="controlChanged('email')" />
        <span *ngIf="uiErrors.email">{{uiErrors.email}}</span>
      </div>
      <div class="form-group">
        <strong (click)="onResendOTP()" class="text-danger cursor-pointer">Click Here to Resend OTP</strong>
        <mat-spinner *ngIf="resending" color="accent" [diameter]="20"></mat-spinner>
      </div>
      <div class="form-group">
        <label for="otp" *ngIf="myForm.get('otp').value">OTP</label>
        <input class="form-control" id="otp" formControlName="otp" type="text" placeholder="OTP" (keyup)="controlChanged('otp')" />
        <span *ngIf="uiErrors.otp">{{uiErrors.otp}}</span>
      </div>

      <div class="form-group">
        <button type="submit" class="auth-button">
          <span *ngIf="!submitting">Verify</span>
          <mat-spinner *ngIf="submitting" [diameter]="30"></mat-spinner>
        </button>
      </div>
    </form>
  </div>
</div>
