<div class="col-12">
  <div class="about-course">
    <div class="row">
      <div class="col-lg-8">
        <div class="page-title">
          <h2>About this Course</h2>
        </div>
        <div class="course-description">
          <p>Posuere morbi leo urna molestie at elementum eu. Tincidunt ornare massa eget egestas purus. Eleifend donec
            pretium vulputate sapien nec. Velit ut tortor pretium viverra. Lobortis feugiat vivamus at augue eget. Vitae
            purus faucibus ornare suspendisse sed nisi lacus. </p>
          <p>Sem nulla pharetra diam sit amet nisl suscipit. Fermentum posuere urna nec tincidunt praesent semper. Arcu
            bibendum at varius vel pharetra vel turpis nunc eget.</p>
          <p>Porta non pulvinar neque laoreet suspendisse interdum consectetur. Diam volutpat commodo sed egestas
            egestas
            fringilla phasellus faucibus scelerisque. Maecenas pharetra convallis posuere morbi. Lectus vestibulum
            mattis
            ullamcorper velit sed. Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
          <p>Morbi tincidunt ornare massa eget egestas purus viverra accumsan in. Interdum velit euismod in pellentesque
            massa placerat duis ultricies lacus. Itncidunt ornare massa eget egestas purus viverra accumsan in. Interdum
            velit euismod in </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="short-details">
          <div class="difficulty">
            <img src="/assets/images/barchart.png" alt="">
            <p class="subtext">Beginner</p>
          </div>
          <div class="students">
            <p class="text">530</p>
            <p class="subtext">Students</p>
          </div>
          <div class="has-certificate">
            <p class="text">Certificate</p>
            <p class="subtext">Yes</p>
          </div>
        </div>
        <mat-divider class="my-3"></mat-divider>
        <div class="author-details">
          <mat-list>
            <mat-list-item>
              <img matListAvatar src="/assets/images/avi.png" alt="...">
              <a matLine href="/">Martha Jenkins</a>
              <p matLine>Design Instructor</p>
            </mat-list-item>
          </mat-list>
        </div>
        <div class="author-profile">
          <p>Porta non pulvinar neque laoreet suspendisse interdum consectetur. Diam volutpat commodo sed egestas
            egestas fringilla phasellus faucibus scelerisque. Maecenas pharetra convallis posuere morbi. Lectus
            vestibulum mattis ullamcorper velit sed. Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
          <a href="">See full profile</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="course-card-container">
          <div class="row">
            <div class="col-12">
              <div class="page-title">
                <h2>Other Related Courses</h2>
              </div>
            </div>
            <div class="col-md-12 col-lg-6">
              <mat-card class="shadow-none">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                  alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <mat-card-subtitle>8593 students<span class="duration">1h 55m</span></mat-card-subtitle>
                  <a [routerLink]="['/dashboard/index']" mat-card-title>Smart Responsive UX Design Clever Tips, Tricks
                    and
                    Techniques</a>
                </mat-card-content>
                <div class="price">
                  <p><span class="currency">&#8358;</span> <span class="amount">19,500</span></p>
                </div>
                <mat-card-footer>
                  <a mat-flat-button href="" target="_blank">Leon Matthews</a>
                  <div class="spacer"></div>
                  <button mat-icon-button>
                    <mat-icon class="">favorite_border</mat-icon>
                  </button>

                  <button mat-icon-button>
                    <mat-icon class="">bookmark_border</mat-icon>
                  </button>
                </mat-card-footer>
              </mat-card>
            </div>
            <div class="col-md-12 col-lg-6">
              <mat-card class="shadow-none">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                  alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <mat-card-subtitle>8593 students<span class="duration">1h 35m</span></mat-card-subtitle>
                  <a mat-card-title>Smart Responsive UX Design Clever Tips, Tricks and Techniques</a>
                </mat-card-content>
                <div class="price">
                  <p><span class="currency">&#8358;</span> <span class="amount">19,500</span></p>
                </div>
                <mat-card-footer>
                  <a mat-flat-button href="" target="_blank">Leon Matthews</a>
                  <div class="spacer"></div>
                  <button mat-icon-button>
                    <mat-icon class="">favorite_border</mat-icon>
                  </button>

                  <button mat-icon-button>
                    <mat-icon class="">bookmark_border</mat-icon>
                  </button>
                </mat-card-footer>
              </mat-card>
            </div>
            <div class="col-md-12 col-lg-6">
              <mat-card class="shadow-none">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                  alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <mat-card-subtitle>8593 students<span class="duration">1h 20m</span></mat-card-subtitle>
                  <a mat-card-title>The art of copywriting, and winning your Audience</a>
                </mat-card-content>
                <div class="price">
                  <p><span class="currency">&#8358;</span> <span class="amount">19,500</span></p>
                </div>
                <mat-card-footer>
                  <a mat-flat-button href="" target="_blank">Leon Matthews</a>
                  <div class="spacer"></div>
                  <button mat-icon-button>
                    <mat-icon class="">favorite_border</mat-icon>
                  </button>

                  <button mat-icon-button>
                    <mat-icon class="">bookmark_border</mat-icon>
                  </button>
                </mat-card-footer>
              </mat-card>
            </div>
            <div class="col-md-12 col-lg-6">
              <mat-card class="shadow-none">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                  alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <mat-card-subtitle>8593 students<span class="duration">2h 10m</span></mat-card-subtitle>
                  <a mat-card-title>Smart Responsive UX Design Clever Tips, Tricks and Techniques</a>
                </mat-card-content>
                <div class="price">
                  <p><span class="currency">&#8358;</span> <span class="amount">19,500</span></p>
                </div>
                <mat-card-footer>
                  <a mat-flat-button href="" target="_blank">Adebayo Dada</a>
                  <div class="spacer"></div>
                  <button mat-icon-button>
                    <mat-icon class="">favorite_border</mat-icon>
                  </button>

                  <button mat-icon-button>
                    <mat-icon class="">bookmark_border</mat-icon>
                  </button>
                </mat-card-footer>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="related-skills">
          <div class="page-title">
            <h2>Related Skills</h2>
          </div>
          <div class="skill-pills">
            <a href="" mat-stroked-button>UX Design</a>
            <a href="" mat-stroked-button>User Experience Design</a>
            <a href="" mat-stroked-button>Visual Design</a>
            <a href="" mat-stroked-button>Graphics Design</a>
            <a href="" mat-stroked-button>UI/UX Design</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
