<div class="row">
  <div class="notification-form-container col-12">
    <form>
      <div class="row">
        <div class="form-group col-md-8">
          <div class="row">
            <mat-list>
              <mat-list-item>
                <div matListAvatar class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                  <label class="custom-control-label" for="customSwitch1"></label>
                </div>
                <h4 matLine>Promotions</h4>
                <p matLine>Notify me of promotions, course recommendations, and helpful resources</p>
              </mat-list-item>
              <mat-list-item>
                <div matListAvatar class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch2" checked>
                  <label class="custom-control-label" for="customSwitch2"></label>
                </div>
                <h4 matLine>Recommended videos</h4>
                <p matLine>Notify me of videos I might like based on what I watch</p>
              </mat-list-item>
              <mat-list-item>
                <div matListAvatar class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch3">
                  <label class="custom-control-label" for="customSwitch3"></label>
                </div>
                <h4 matLine>Activity on my Courses</h4>
                <p matLine>Notify me of annoucements from instructors whose course I enroll in</p>
              </mat-list-item>
              <mat-list-item>
                <div matListAvatar class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch4">
                  <label class="custom-control-label" for="customSwitch4"></label>
                </div>
                <h4 matLine>Update from Forums</h4>
                <p matLine>Notify me of new discussion on the forums I belong to</p>
              </mat-list-item>
              <mat-list-item>
                <h4 matLine>Unsubscribe from everything</h4>
                <p matLine>We’ll only send you necessary emails about your account</p>
                <div matListAvatar class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch5">
                  <label class="custom-control-label" for="customSwitch5"></label>
                </div>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
        <div class="form-group col-md-12">
          <button mat-flat-button type="submit" class="btn btn-primary submit-notification-form">Update Notifications</button>
        </div>
      </div>
    </form>
  </div>
</div>
