.notification-form-container {
  margin: 20px 0;

  .form-group {
    margin-bottom: 30px;
  }

  //   .custom-control-input:checked~.custom-control-label::before {
  //     border-color: #00BA88 !important;
  //     background-color: #00BA88 !important;
  //   }

  .custom-switch {
    padding-bottom: 1rem;
    padding-left: 2.25rem;

    & .custom-control-label {
      padding-left: .75rem;
      padding-top: 0.15rem;

      &::before {
        border-radius: 1rem;
        height: 1.5rem;
        width: 2.5rem;
      }

      &::after {
        border-radius: .65rem;
        height: calc(1.5rem - 4px);
        width: calc(1.5rem - 4px);
      }
    }

    .custom-control-input:checked~.custom-control-label::before {
      border-color: #00BA88 !important;
      background-color: #00BA88 !important;
    }

    .custom-control-input:checked~.custom-control-label::after {
      transform: translateX(1rem);
    }
  }

  .mat-list {
    h4 {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.0115em;
      color: #002B43;
      margin-bottom: 5px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #1E1F20;
      margin-bottom: 0px;
    }
  }

  //   input,
  //   select {
  //     height: 52px;
  //     background: #FFFFFF !important;
  //     border: 1px solid #DEDFE0;
  //     border-radius: 10px;
  //   }

  .submit-notification-form {
    height: 50px;
    background: #FF652F;
    color: #FFFFFF;
    border-radius: 10px;
  }
}
