.courses-history {
  padding-top: 20px;

  .page-filter {
    margin-bottom: 0px;
  }

  .history-list-container {
    .course {
      border-bottom: 1px solid #E0E7EA;
      box-sizing: border-box;
      padding: 30px 0px;
      padding-top: 0px;
      flex-direction: column;

      img {
        border-radius: 10px 10px 0px 0px;
        height: 160px;
        margin-top: 30px;
        width: 310px;
        object-fit: cover;
      }

      .media-body {
        min-height: 92px;
        margin-top: 30px;

        h5 {
          display: flex;
          justify-content: space-between;
          margin-bottom: 0px;

          .header-text {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 23px;
            margin-top: 8px;
            color: #002B43;
          }
        }

        p {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
          color: #002B43;
        }

        .rating {
          img {
            height: 18px;
            width: auto;
            margin: 0px;
          }

          span {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #1E1F20;
            margin-right: 5px;
            vertical-align: bottom;
          }
        }

        .bottom {
          display: flex;
          margin-top: 50px;

          span {
            color: #5E6062;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            min-width: 25px;
            text-align: center;

            .mat-icon {
              font-size: 6px;
              height: 6px;
              width: 6px;
            }
          }
        }
      }
    }
  }
}
