<div class="courses-history">
  <div class="col-12">
    <div class="page-filter">
      <div class="row">
        <div class="col-md-4">
          <div id="status-filter" class="filter-section">
            <div class="main-filter-label">
              <label for="">Status</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="not_started" value="video-status">
              <label class="form-check-label" for="not_started">Not yet started</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="in_progress" value="video-status">
              <label class="form-check-label" for="in_progress">In progress</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="status_completed" value="video-status">
              <label class="form-check-label" for="status_completed">Completed</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="history-list-container">
      <div class="row">
        <div class="col-12">
          <div class="media course flex-md-row">
            <img src="/assets/images/certificate-yellow.png" class="mr-4" alt="...">
            <div class="media-body">
              <h5 class="mt-0">
                <a class="header-text">Piano Lessons: Hitting the Right Notes and Making Magic</a>
                <span class="header-menu">
                  <button mat-icon-button [matMenuTriggerFor]="historylistmenu">
                    <mat-icon>more_horiz</mat-icon>
                  </button>
                  <mat-menu #historylistmenu="matMenu">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                  </mat-menu>
                </span>
              </h5>
              <p>Leon Matthews</p>
              <div class="rating">
                <!-- <span>4.2</span> -->
                <span><img src="/assets/images/star-rating.png" alt=""></span>
                <span>(32,562)</span>
              </div>
              <div class="bottom">
                <span>8593 students</span>
                <span class="dot-icon">
                  <mat-icon>circle</mat-icon>
                </span>
                <span>1h 90 min</span>
                <span class="dot-icon">
                  <mat-icon>circle</mat-icon>
                </span>
                <span>Music</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="media course flex-md-row">
            <img src="/assets/images/certificate-red.png" class="mr-4" alt="...">
            <div class="media-body">
              <h5 class="mt-0">
                <a class="header-text">Piano Lessons: Hitting the Right Notes and Making Magic</a>
                <span class="header-menu">
                  <button mat-icon-button [matMenuTriggerFor]="historylistmenu">
                    <mat-icon>more_horiz</mat-icon>
                  </button>
                  <mat-menu #historylistmenu="matMenu">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                  </mat-menu>
                </span>
              </h5>
              <p>Leon Matthews</p>
              <div class="rating">
                <!-- <span>4.2</span> -->
                <span><img src="/assets/images/star-rating.png" alt=""></span>
                <span>(32,562)</span>
              </div>
              <div class="bottom">
                <span>8593 students</span>
                <span class="dot-icon">
                  <mat-icon>circle</mat-icon>
                </span>
                <span>1h 90 min</span>
                <span class="dot-icon">
                  <mat-icon>circle</mat-icon>
                </span>
                <span>Music</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="media course flex-md-row">
            <img src="/assets/images/certificate-red.png" class="mr-4" alt="...">
            <div class="media-body">
              <h5 class="mt-0">
                <a class="header-text">Piano Lessons: Hitting the Right Notes and Making Magic</a>
                <span class="header-menu">
                  <button mat-icon-button [matMenuTriggerFor]="historylistmenu">
                    <mat-icon>more_horiz</mat-icon>
                  </button>
                  <mat-menu #historylistmenu="matMenu">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                  </mat-menu>
                </span>
              </h5>
              <p>Leon Matthews</p>
              <div class="rating">
                <!-- <span>4.2</span> -->
                <span><img src="/assets/images/star-rating.png" alt=""></span>
                <span>(32,562)</span>
              </div>
              <div class="bottom">
                <span>8593 students</span>
                <span class="dot-icon">
                  <mat-icon>circle</mat-icon>
                </span>
                <span>1h 90 min</span>
                <span class="dot-icon">
                  <mat-icon>circle</mat-icon>
                </span>
                <span>Music</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="media course flex-md-row">
            <img src="/assets/images/certificate-yellow.png" class="mr-4" alt="...">
            <div class="media-body">
              <h5 class="mt-0">
                <a class="header-text">Piano Lessons: Hitting the Right Notes and Making Magic</a>
                <span class="header-menu">
                  <button mat-icon-button [matMenuTriggerFor]="historylistmenu">
                    <mat-icon>more_horiz</mat-icon>
                  </button>
                  <mat-menu #historylistmenu="matMenu">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                  </mat-menu>
                </span>
              </h5>
              <p>Leon Matthews</p>
              <div class="rating">
                <!-- <span>4.2</span> -->
                <span><img src="/assets/images/star-rating.png" alt=""></span>
                <span>(32,562)</span>
              </div>
              <div class="bottom">
                <span>8593 students</span>
                <span class="dot-icon">
                  <mat-icon>circle</mat-icon>
                </span>
                <span>1h 90 min</span>
                <span class="dot-icon">
                  <mat-icon>circle</mat-icon>
                </span>
                <span>Music</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="media course flex-md-row">
            <img src="/assets/images/certificate-red.png" class="mr-4" alt="...">
            <div class="media-body">
              <h5 class="mt-0">
                <a class="header-text">Piano Lessons: Hitting the Right Notes and Making Magic</a>
                <span class="header-menu">
                  <button mat-icon-button [matMenuTriggerFor]="historylistmenu">
                    <mat-icon>more_horiz</mat-icon>
                  </button>
                  <mat-menu #historylistmenu="matMenu">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                  </mat-menu>
                </span>
              </h5>
              <p>Leon Matthews</p>
              <div class="rating">
                <!-- <span>4.2</span> -->
                <span><img src="/assets/images/star-rating.png" alt=""></span>
                <span>(32,562)</span>
              </div>
              <div class="bottom">
                <span>8593 students</span>
                <span class="dot-icon">
                  <mat-icon>circle</mat-icon>
                </span>
                <span>1h 90 min</span>
                <span class="dot-icon">
                  <mat-icon>circle</mat-icon>
                </span>
                <span>Music</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
