<div class="container-fluid p-4">
  <div class="row">
    <div class="col-12">
      <a [routerLink]="['/dashboard/index']" class="text-dark text-decoration-none">< Back</a>
      <div class="page-title">
        <h1>Transactions</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card" style="min-height: 316px;">
        <div class="card-body">
          <mat-spinner *ngIf="commonServices.isLoading$ | async" color="accent" [diameter]="30"></mat-spinner>

          <h3 class="card-title mb-3">Order Summary</h3>
          <div class="row">
            <div class="col-12">
              <div class="border-bottom p-3">
                <div class="d-flex">
                  <img [src]="asset?.image" alt="{{asset?.name}}" style="height: 40px;">
                  <div class="ml-2" style="margin-left: 10px;">
                    <h3 class="font-weight-bold text-muted mb-1">{{asset?.name}}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row border-bottom py-3">
            <div class="col-6">
              <p class="text-muted font-weight-bold">Price per Unit</p>
              <p class="text-dark font-weight-bold text-uppercase">{{asset?.sharePrice | currency:asset?.currency:'symbol-narrow' }}</p>
            </div>
            <div class="col-6">
              <p class="text-muted font-weight-bold">Estimated Units</p>
              <p class="text-dark font-weight-bold">{{transaction?.unitsExpressed | number}}</p>
            </div>
            <div class="col-6">
              <p class="text-muted font-weight-bold">Total</p>
              <p class="text-dark font-weight-bold">{{transaction?.amount | currency:asset?.currency:'symbol-narrow'}}</p>
            </div>
            <div class="col-6">
              <p class="text-muted font-weight-bold">Offering Type</p>
              <p class="text-dark font-weight-bold">{{ asset?.type }}</p>
            </div>
          </div>
          <div class="row border-bottom my-4">
            <div class="col-12">
              <mat-radio-group name="opList" aria-label="Select an option" fxLayout="column" [(ngModel)]="container['reinvest']">
                <mat-radio-button class="mr-3" *ngFor="let op of reinvestList" [value]="op.checked" [checked]="op.checked">{{ op.name}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="row my-4">
            <div class="col-1">
              <label class="checkbox-container">
                <mat-checkbox #terms checked="checked"></mat-checkbox>
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col-11 pl-2">
              <p>I acknowledge that I have read and understood the prospectus, and agreed with the <a href="/terms-and-conditions" target="_blank">Terms and Conditions</a></p>
            </div>
          </div>
          <div class="row border-bottom py-3">
            <div class="col-6">
              <div class="form-group">
                <button type="submit" class="auth-button w-100" (click)="onMakePayment(terms.checked)">
                  <span *ngIf="!paying">Pay with Flutterwave</span>
                  <mat-spinner *ngIf="paying"[diameter]="30"></mat-spinner>
                </button>
              </div>
            </div>
            <div class="col-6">
              <button mat-button (click)="openDialog()">Pay directly to bank</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
