<div class="container-fluid p-4">
  <div class="row">
    <div class="col-md-8">
      <div class="dashboard-select-course">
        <div class="section-heading">
          <h2>Select Course</h2>
        </div>
        <div class="section-body">
          <p>Learn, and improve your skills across business, tech, and more with our certificate courses</p>
        </div>
        <div class="section-action">
          <a mat-button [routerLink]="['/courses']">
            Get Started<mat-icon>arrow_forward</mat-icon>
          </a>
        </div>
      </div>

      <div class="dashboard-activities">
        <div class="section-heading">
          <h2>Activities</h2>
        </div>
        <div class="section-body">
          <div class="row">
            <div class="col-md-4">
              <!-- <mat-list>
                <mat-list-item>
                  <img matListAvatar src="/assets/images/activities_current.png" alt="...">
                  <h3 matLine>9</h3>
                  <p matLine>Current Courses</p>
                </mat-list-item>
              </mat-list> -->
              <div class="media">
                <img src="/assets/images/activities_current.png" class="mr-3" alt="...">
                <div class="media-body">
                  <h3 class="mt-0">9</h3>
                  <p>Current Courses</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <!-- <mat-list>
                <mat-list-item>
                  <img matListAvatar src="/assets/images/activities_completed.png" alt="...">
                  <h3 matLine>12</h3>
                  <p matLine>Completed Courses</p>
                </mat-list-item>
              </mat-list> -->
              <div class="media">
                <img src="/assets/images/activities_completed.png" class="mr-3" alt="...">
                <div class="media-body">
                  <h3 class="mt-0">12</h3>
                  <p>Completed Courses</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <!-- <mat-list>
                <mat-list-item>
                  <img matListAvatar src="/assets/images/activities_certificates.png" alt="...">
                  <h3 matLine href="/">2</h3>
                  <p matLine>Certificates</p>
                </mat-list-item>
              </mat-list> -->
              <div class="media border-0">
                <img src="/assets/images/activities_certificates.png" class="mr-3" alt="...">
                <div class="media-body">
                  <h3 class="mt-0">2</h3>
                  <p>Certificates</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="dashboard-continue-watching">
        <div class="section-heading">
          <h2>Continue Watching</h2>
        </div>
        <mat-card class="shadow-none">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu">
          <mat-card-header>
            <img mat-card-avatar src="/assets/images/avi.png" alt="...">
            <mat-card-title>How to become a UX Designer, with no experience/degree</mat-card-title>
            <mat-card-subtitle>
              <span>32,620 views</span>
              <span>.</span>
              <span>23 Feb 2021</span>
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
    <div class="col-md-4">
      <div class="dashboard-side-section">
        <div class="section-heading">
          <h2>Newest Videos</h2>
        </div>
        <div class="section-body">
          <in-dashboard-sidebar-lists></in-dashboard-sidebar-lists>
        </div>
      </div>

      <div class="dashboard-side-section">
        <div class="section-heading">
          <h2>Free Learning Resources</h2>
        </div>
        <div class="section-body">
          <in-dashboard-sidebar-lists></in-dashboard-sidebar-lists>
        </div>
      </div>
    </div>
  </div>
  <div class="course-card-container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h2>Free Learning Resources</h2>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-3">
        <mat-card class="shadow-none">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu">
          <mat-card-content>
            <mat-card-subtitle>8593 students<span class="duration">1h 55m</span></mat-card-subtitle>
            <mat-card-title>Smart Responsive UX Design Clever Tips, Tricks and Techniques</mat-card-title>
          </mat-card-content>
          <mat-card-footer>
            <a mat-flat-button href="" target="_blank">Leon Matthews</a>
            <div class="spacer"></div>
            <button mat-icon-button>
              <mat-icon class="">favorite_border</mat-icon>
            </button>

            <button mat-icon-button>
              <mat-icon class="">bookmark_border</mat-icon>
            </button>
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-3">
        <mat-card class="shadow-none">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu">
          <mat-card-content>
            <mat-card-subtitle>8593 students<span class="duration">1h 35m</span></mat-card-subtitle>
            <mat-card-title>Smart Responsive UX Design Clever Tips, Tricks and Techniques</mat-card-title>
          </mat-card-content>
          <mat-card-footer>
            <a mat-flat-button href="" target="_blank">Leon Matthews</a>
            <div class="spacer"></div>
            <button mat-icon-button>
              <mat-icon class="">favorite_border</mat-icon>
            </button>

            <button mat-icon-button>
              <mat-icon class="">bookmark_border</mat-icon>
            </button>
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-3">
        <mat-card class="shadow-none">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu">
          <mat-card-content>
            <mat-card-subtitle>8593 students<span class="duration">1h 20m</span></mat-card-subtitle>
            <mat-card-title>The art of copywriting, and winning your Audience</mat-card-title>
          </mat-card-content>
          <mat-card-footer>
            <a mat-flat-button href="" target="_blank">Leon Matthews</a>
            <div class="spacer"></div>
            <button mat-icon-button>
              <mat-icon class="">favorite_border</mat-icon>
            </button>

            <button mat-icon-button>
              <mat-icon class="">bookmark_border</mat-icon>
            </button>
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-3">
        <mat-card class="shadow-none">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu">
          <mat-card-content>
            <mat-card-subtitle>8593 students<span class="duration">2h 10m</span></mat-card-subtitle>
            <mat-card-title>Smart Responsive UX Design Clever Tips, Tricks and Techniques</mat-card-title>
          </mat-card-content>
          <mat-card-footer>
            <a mat-flat-button href="" target="_blank">Adebayo Dada</a>
            <div class="spacer"></div>
            <button mat-icon-button>
              <mat-icon class="">favorite_border</mat-icon>
            </button>

            <button mat-icon-button>
              <mat-icon class="">bookmark_border</mat-icon>
            </button>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
</div>
