<div class="row mb-3">
  <div class="col-md-12">
    <h1>Create Account</h1>
  </div>
</div>
<div class="row mb-5">
  <div class="col-md-12">
    <span class="text-muted font-weight-bold">Sign in with your email account and password</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">

    <div class="course-form">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control" formControlName="firstName" type="text" placeholder="First Name" readonly />
              <span *ngIf="uiErrors.firstName">{{uiErrors.firstName}}</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control" formControlName="lastName" type="text" placeholder="Surname" readonly />
              <span *ngIf="uiErrors.lastName">{{uiErrors.lastName}}</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input class="form-control" formControlName="middleName" type="text" placeholder="Middle Name" readonly />
          <span *ngIf="uiErrors.middleName">{{uiErrors.middleName}}</span>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control" formControlName="birthdate" type="date" placeholder="Date Of Birth (mm/dd/yyyy)" readonly />
              <span *ngIf="uiErrors.birthdate">{{uiErrors.birthdate}}</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <ng-select [items]="gender" placeholder="Gender" bindLabel="name" formControlName="gender">
              </ng-select>
              <span *ngIf="uiErrors.gender">{{uiErrors.gender}}</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input class="form-control" formControlName="phone" type="text" placeholder="Phone" />
          <span *ngIf="uiErrors.phone">{{uiErrors.phone}}</span>
        </div>
        <div class="form-group">
          <input class="form-control" formControlName="address" type="text" placeholder="Address Line 1" />
          <span *ngIf="uiErrors.address">{{uiErrors.address}}</span>
        </div>
        <div class="form-group">
          <input class="form-control" formControlName="bvn" type="hidden" placeholder="BVN" />
          <span *ngIf="uiErrors.bvn">{{uiErrors.bvn}}</span>
        </div>
        <div class="form-group">
          <label for="email" *ngIf="myForm.get('email')?.value">Email</label>
          <input class="form-control" formControlName="email" type="email" placeholder="Email" />
          <span *ngIf="uiErrors.email">{{uiErrors.email}}</span>
        </div>
        <div class="form-group">
          <label for="password" *ngIf="myForm.get('password')?.value">Password</label>
          <input class="form-control" id="password" formControlName="password" type="password" placeholder="Password" (keyup)="controlChanged('password')" />
          <span *ngIf="uiErrors.password != ''">{{uiErrors.password}}</span>
        </div>
        <div class="form-group">
          <label for="confirmPassword" *ngIf="myForm.get('confirmPassword')?.value">Confirm Password</label>
          <input class="form-control" id="confirmPassword" formControlName="confirmPassword" type="password" placeholder="Confirm Password" (keyup)="controlChanged('confirmPassword')" />
          <span *ngIf="uiErrors.confirmPassword">{{uiErrors.confirmPassword }}</span>
        </div>
        <div class="form-group">
          <input class="d-md-inline" formControlName="accept" type="checkbox" style="width: 40px;"/>
          <span>I have read and accept the purchase conditions, and understand the <a href="https://funds.chapelhilldenham.com/terms-and-conditions/" target="_blank">
              Terms and Conditions
            </a>
          </span>
        </div>
        <div class="form-group">
          <button type="submit" class="auth-button">
            <span *ngIf="!submitting">Continue</span>
            <mat-spinner *ngIf="submitting" [diameter]="30"></mat-spinner>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
