<ng-template #loading>
  <mat-spinner [diameter]="60"></mat-spinner>
</ng-template>
<div class="row m-2" *ngIf="!(commonServices.isLoading$ | async); else loading">
  <div class="user-profile col-12">
    <div *ngFor="let document of documents">
      <div class="row pt-3">
        <div class="col-3">
          <h2 class="d-block">{{document.title}}</h2>
        </div>
      </div>
      <div class="row border-bottom p-3">
        <div class="col-4">
          <label for="country">Select ID Type</label>
          <ng-select [items]="document.types" bindLabel="label"
              notFoundText = "'No items found'"
              placeholder="Select {{document.title}}" [(ngModel)]="document.IdType">
          </ng-select>
        </div>
        <div class="col-3" *ngIf="document.IdType && document.IdType.code !== 'utility'&& document.IdType.code !== 'signature'">
          <div class="form-group">
            <label for="phone">ID Number</label>
            <input [(ngModel)]="document.idNumber" type="text" class="form-control" placeholder="Enter ID Number" [disabled]="!document.IdType">
          </div>
        </div>
        <div class="col-3" *ngIf="document.IdType">
          <file-pond
              class="filepond"
              [files]="document.pondFile"
              [options]="pondOptions"
              (onaddfile)="pondHandleAddFile(document,$event)"
          ></file-pond>
        </div>
        <div class="col-2">
          <button class="auth-button" (click)="onSaveFile(document)">
            <span *ngIf="!document.loading">Save</span>
            <mat-spinner *ngIf="document.loading" [diameter]="30"></mat-spinner>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
