<!-- <div> -->
  <div class="col-12">
    <div class="course-resources">
      <div class="row">
        <div class="col-md-8">
          <div class="page-title">
            <h2>Project Description</h2>
          </div>
          <div class="description">
            <p>Posuere morbi leo urna molestie at elementum eu. Tincidunt ornare massa eget egestas purus. Eleifend
              donec
              pretium vulputate sapien nec. Velit ut tortor pretium viverra. Lobortis feugiat vivamus at augue eget.
              Vitae
              purus faucibus ornare suspendisse sed nisi lacus. </p>
            <p>Sem nulla pharetra diam sit amet nisl suscipit. Fermentum posuere urna nec tincidunt praesent semper.
              Arcu
              bibendum at varius vel pharetra vel turpis nunc eget.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="page-title">
            <h2>Project Files</h2>
          </div>
          <div class="project-files">
            <p><span class="type color-red">PDF</span> <span class="desc">Introduction to UX Design</span> <span
                class="size">12MB</span></p>
            <p><span class="type">DOC</span> <span class="desc">Quiz</span> <span class="size">12MB</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
