<div class="container-fluid p-4">
  <div class="row">
    <div class="col-12">
      <div class="page-title">
        <h1>View Course</h1>
      </div>
    </div>
  </div>
  <div class="course-top-panel">
    <div class="row">
      <div class="col-12">
        <div class="media flex-lg-row">
          <img src="/assets/images/view-course-main.png" alt="...">
          <div class="media-body">
            <div class="row">
              <div class="col-xl-9">
                <div class="course-title">
                  <h2>Introduction to Visual Design</h2>
                </div>
                <div class="course-description">
                  <p>Visual Design aims to improve a product’s aesthetic appeal using suitable layouts, typography,
                    icons and images</p>
                </div>
                <div class="course-details">
                  <p>
                    <span>Adam Lay</span>
                    <span class="pill color-blue">DESIGN</span>
                  </p>
                </div>
              </div>
              <div class="col-xl-3">
                <div class="course-actions">
                  <button class="post-course" mat-flat-button>Post Now</button>
                  <button class="delete-course" mat-flat-button>Edit</button>
                  <button class="delete-course" mat-flat-button>Delete</button>
                </div>
              </div>
            </div>
            <div class="bottom">
              <div class="bottom-left">
                <span class="icon">
                  <mat-icon inline="true">web</mat-icon>
                </span>
                <span><b>20</b> Lessons</span>
                <span class="icon">
                  <mat-icon inline="true">timelapse</mat-icon>
                </span>
                <span><b>40</b> Mins</span>
                <span class="icon">
                  <mat-icon inline="true">visibility</mat-icon>
                </span>
                <span><b>500</b> Views</span>
              </div>
              <div class="bottom-right">
                <span class="free">free</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="course-content-container">
    <div class="row">
      <div class="col-12 section-heading">
        <h2>Course Content</h2>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-3 mb-4">
        <mat-card class="shadow-none">
          <div>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-card-subtitle>LESSON 1</mat-card-subtitle>
              <a mat-card-title>Fonts and Colours</a>
              <P>In this lesson you’ll learn about the fundamentals of ...</P>
            </mat-card-content>
          </div>
          <div class="custom-mat-footer">
            <mat-icon inline="true">slideshow</mat-icon>
            <div class="spacer"></div>
            <span class="icon">
              <mat-icon inline="true">timelapse</mat-icon>
            </span>
            <span><b>40</b> Mins</span>
          </div>
        </mat-card>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-3 mb-4">
        <mat-card class="shadow-none">
          <div>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-card-subtitle>LESSON 2</mat-card-subtitle>
              <a mat-card-title>Fonts and Colours</a>
              <P>In this lesson you’ll learn about the fundamentals of ...</P>
            </mat-card-content>
          </div>
          <div class="custom-mat-footer">
            <mat-icon inline="true">slideshow</mat-icon>
            <div class="spacer"></div>
            <span class="icon">
              <mat-icon inline="true">timelapse</mat-icon>
            </span>
            <span><b>40</b> Mins</span>
          </div>
        </mat-card>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-3 mb-4">
        <mat-card class="shadow-none">
          <div>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-card-subtitle>LESSON 3</mat-card-subtitle>
              <a mat-card-title>Fonts and Colours</a>
              <P>In this lesson you’ll learn about the fundamentals of ...</P>
            </mat-card-content>
          </div>
          <div class="custom-mat-footer">
            <mat-icon inline="true">slideshow</mat-icon>
            <div class="spacer"></div>
            <span class="icon">
              <mat-icon inline="true">timelapse</mat-icon>
            </span>
            <span><b>40</b> Mins</span>
          </div>
        </mat-card>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-3 mb-4">
        <mat-card class="shadow-none">
          <div>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-card-subtitle>LESSON 4</mat-card-subtitle>
              <a mat-card-title>Fonts and Colours</a>
              <P>In this lesson you’ll learn about the fundamentals of ...</P>
            </mat-card-content>
          </div>
          <div class="custom-mat-footer">
            <mat-icon inline="true">slideshow</mat-icon>
            <div class="spacer"></div>
            <span class="icon">
              <mat-icon inline="true">timelapse</mat-icon>
            </span>
            <span><b>40</b> Mins</span>
          </div>
        </mat-card>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-3 mb-4">
        <mat-card class="shadow-none">
          <div>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-card-subtitle>LESSON 5</mat-card-subtitle>
              <a mat-card-title>Fonts and Colours</a>
              <P>In this lesson you’ll learn about the fundamentals of ...</P>
            </mat-card-content>
          </div>
          <div class="custom-mat-footer">
            <mat-icon inline="true">slideshow</mat-icon>
            <div class="spacer"></div>
            <span class="icon">
              <mat-icon inline="true">timelapse</mat-icon>
            </span>
            <span><b>40</b> Mins</span>
          </div>
        </mat-card>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-3 mb-4">
        <mat-card class="shadow-none">
          <div>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-card-subtitle>LESSON 6</mat-card-subtitle>
              <a mat-card-title>Fonts and Colours</a>
              <P>In this lesson you’ll learn about the fundamentals of ...</P>
            </mat-card-content>
          </div>
          <div class="custom-mat-footer">
            <mat-icon inline="true">slideshow</mat-icon>
            <div class="spacer"></div>
            <span class="icon">
              <mat-icon inline="true">timelapse</mat-icon>
            </span>
            <span><b>40</b> Mins</span>
          </div>
        </mat-card>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-3 mb-4">
        <mat-card class="shadow-none">
          <div>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-card-subtitle>LESSON 7</mat-card-subtitle>
              <a mat-card-title>Fonts and Colours</a>
              <P>In this lesson you’ll learn about the fundamentals of ...</P>
            </mat-card-content>
          </div>
          <div class="custom-mat-footer">
            <mat-icon inline="true">slideshow</mat-icon>
            <div class="spacer"></div>
            <span class="icon">
              <mat-icon inline="true">timelapse</mat-icon>
            </span>
            <span><b>40</b> Mins</span>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
