<div class="container-fluid p-4">
  <div class="row">
    <div class="col-12">
      <div class="page-title">
        <h1>Leaderboard</h1>
      </div>
    </div>
    <div class="col-12">
      <div class="link-tab-nav">
        <a [routerLink]="['/dashboard/certificates']" class="link-tab current">Course
          Certificates</a>
        <a [routerLink]="['/dashboard/certificates/badges']" class="link-tab">Course
          Badges</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="media certificate flex-md-row">
        <img src="/assets/images/certificate-yellow.png" class="mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0">Introduction to UX Design (Beginner)</h5>
          <p>Certificate of completion</p>
          <div class="bottom">
            <span class="date">14/02/2021</span>
            <div class="spacer"></div>
            <a target="_blank">
              <mat-icon>system_update_alt</mat-icon> Download
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="media certificate flex-md-row">
        <img src="/assets/images/certificate-red.png" class="mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0">Fundamentals of Real Estate Investments</h5>
          <p>Certificate of completion</p>
          <div class="bottom">
            <span class="date">14/02/2021</span>
            <div class="spacer"></div>
            <a target="_blank">
              <mat-icon>system_update_alt</mat-icon> Download
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="media certificate flex-md-row">
        <img src="/assets/images/certificate-red.png" class="mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0">IPO Investment Course</h5>
          <p>Certificate of completion</p>
          <div class="bottom">
            <span class="date">14/02/2021</span>
            <div class="spacer"></div>
            <a target="_blank">
              <mat-icon>system_update_alt</mat-icon> Download
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="media certificate flex-md-row">
        <img src="/assets/images/certificate-red.png" class="mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0">Introduction to UX Design (Beginner)</h5>
          <p>Certificate of completion</p>
          <div class="bottom">
            <span class="date">14/02/2021</span>
            <div class="spacer"></div>
            <a target="_blank">
              <mat-icon>system_update_alt</mat-icon> Download
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="media certificate flex-md-row">
        <img src="/assets/images/certificate-yellow.png" class="mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0">Fundamentals of Real Estate Investments</h5>
          <p>Certificate of completion</p>
          <div class="bottom">
            <span class="date">14/02/2021</span>
            <div class="spacer"></div>
            <a target="_blank">
              <mat-icon>system_update_alt</mat-icon> Download
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="media certificate flex-md-row">
        <img src="/assets/images/certificate-yellow.png" class="mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0">IPO Investment Course</h5>
          <p>Certificate of completion</p>
          <div class="bottom">
            <span class="date">14/02/2021</span>
            <div class="spacer"></div>
            <a target="_blank">
              <mat-icon>system_update_alt</mat-icon> Download
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
