.container_custom{
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    // background-image: url('../../../assets/images/Desktop.png') ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: row;

    .left-box{
        display: flex;
        flex-flow: column;
        width: 50%;
        align-items: center;
        margin-top: 20vh;

        img{
            width: auto;
        }

        p{
            font-style: normal;
            text-align: center;
            width: fit-content;
            font-weight: 800;
            font-size: 20px;
            line-height: 40px;
        }
    }

    .right-box{
        display: flex;
        flex-flow: column;
        width: 50%;
        align-items: center;
        margin: 20vh 0;


        .form-box{
            padding: 2em;
            background-color: #FFFFFF;
            box-shadow: 0px 4px 15px 0px rgba(93, 38, 132, 0.05);
            width: 60%;

            .subtitle{
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 160%;
                color: #1E1F20;
                opacity: 0.4;
            }

            .header{
                display: flex;
                flex-flow: row;
                justify-content: space-between;

                p{
                    font-style: normal;
                    font-weight: 800;
                    font-size: 30px;
                    line-height: 39px;
                }

                a{
                    color: #FF652F;
                    cursor: pointer;
                }
            }

            .form{
                margin: 2em 0;

                form{

                    display: flex;
                    flex-flow: column;


                    input{
                    font: inherit;
                    font-size: 0.8em;
                    margin: 0 0 1em;
                    display: block;
                    border: none;
                    padding: 20px 1em 10px;
                    border: 1px solid #002c4363;
                    border-radius: 10px;
                    transition: background 0.3s cubic-bezier(.64,.09,.08,1);
                    resize: none;
                    overflow: hidden; 
                    :-webkit-input-placeholder {
                        color: #002c4363;
                    }

                        &:focus, 
                        &:valid {
                            box-shadow: none;
                            outline: none;
                            border: 2px solid #FF652F;
                            background-position: 0 0;
                            
                            &::-webkit-input-placeholder {
                            font-size: 1em;
                            position: fixed;
                            transform: translateY(-20px);
                            visibility: visible !important;
                            opacity: 1;
                            }
                        }

                    }  




                    input::-webkit-input-placeholder{
                    font: inherit;
                    transition: transform 0.3s ease-in-out,
                        font-size 0.3s ease-in-out,
                        visibility 0.3s ease-in-out;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 18px;
                    }
                }

                .buttons-arrange{
                    display: flex;
                    flex-flow: row;
                    justify-content: space-between;
                    margin: 2em 0 0;
                    align-items: center;
                    
                    
                    input[type=submit]{
                        padding: 16px 30px;
                        margin: 0;
                        background-color: #FF652F;
                        color: #FFFFFF;
                        outline: none;
                        border: none;
                        font-weight: 800;
                        font-size: 13px;
                    }

                    a{
                        color: #FF652F;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}