<div class="row mb-3">
  <div class="col-md-12">
    <a routerLink="/auth/signup" class="pull-right text-primary">
      Create an account
    </a>
    <h1>Reset Password</h1>
    <!-- <p></p> -->
  </div>
</div>
<div class="row mb-5">
  <div class="col-md-12">
    <span class="text-muted font-weight-bold">Enter your email to recover your password</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email" *ngIf="myForm.get('email')?.value">Email</label>
          <input formControlName="email" class="form-control" type="email" placeholder="Email" />
          <span *ngIf="uiErrors.email">{{uiErrors.email }}</span>
        </div>

        <div class="form-group">
          <strong class="pull-right"><a routerLink="/auth/login" class="text-primary">Login Instead</a></strong>
          <button type="submit" class="auth-button">
            <span *ngIf="!submitting">Recover</span>
            <mat-spinner *ngIf="submitting"[diameter]="30"></mat-spinner>
          </button>
        </div>
    </form>
  </div>
</div>
