<div class="container_custom">
  <div class="left-box">
    <div>
      <img src="/assets/images/login-logo.png" alt="">
    </div>
    <p>A platform that works for you</p>
  </div>

  <div class="right-box">
    <div class="form-box">
      <div class="header">
        <p>Reset Password</p>
        <a target="_blank">
          Create Account
        </a>
      </div>
      <span class="subtitle">Reset with your email</span>

      <div class="form">
        <form #resetForm="ngForm" (ngSubmit)="onSubmit(resetForm)">
          <input name="email" type="email" placeholder="Email" required ngModel />
          <div class="buttons-arrange">
            <input type="submit" value="Reset" alt="" />
            <a routerLink="/">
              Login
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
