
.user-profile {
  margin: 20px 0;
  position: relative;
  width: 100%;

  h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #707375;
    margin-bottom: 30px;
  }

  .mat-list {
    display: inline-block;
    margin-bottom: 50px;

    img {
      height: 90px;
      width: 90px;
    }
  }

  button {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    display: inline;

    &.edit-profile {
      color: #002B43;
    }

    &.delete-profile {
      font-style: normal;
      font-weight: 800;
      font-size: 13px;
      color: #CD1A11;
      position: absolute;
      right: 0px;
      bottom: 60px;
    }
  }
}

.profile-form-container {
  .form-group {
    margin-bottom: 30px;
  }

  label {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #1E1F20;
    opacity: 0.6;
  }

  select,
  input {
    height: 52px;
    border: 1px solid #DEDFE0;
    border-radius: 10px;
  }

  small {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #1E1F20;
    opacity: 0.6;
  }

  textarea {
    background: #FFFFFF !important;
    border: 1px solid #DEDFE0;
    border-radius: 10px;
  }

  .input-group-append {
    button {
      display: inline-flex;
      align-items: center;
      border: 0px;
    }
  }

  .submit-profile-form {
    margin-top: 20px;
    position: absolute;
    bottom: 0px;
    // width: 144px;
    height: 50px;
    background: #FF652F;
    color: #FFFFFF;
    border-radius: 10px;
  }
}
.filepond {
  background: #002B43;
}
