mat-sidenav-container {
    mat-sidenav {
      width: 270px;
      background: #0F242F;

      .logo {
        padding: 10px 20px;

        img {
          height: 60px;
          width: auto;
        }
      }

      .back-to-investment {
        a {
          background-color: transparent;
          color: rgba(255, 255, 255, 0.6);
          margin-left: 30px;
          border: 1px solid rgba(255, 255, 255, 0.6);
          text-decoration: none;

          .mat-icon {
            margin-right: 24px;
          }

          &:hover {
            color: #ffffff;
            border-color: #ffffff;
            background-color: #142833;
          }
        }
      }

      .side-bar-menu {

        .menu-section-bottom {
          padding-top: 20px;

          nav {

            ul {
              margin: 0px;
              padding: 0px;

              li {
                position: relative;
                list-style: none;

                a {
                  font-weight: 500;
                  font-size: 15px;
                  color: #6C6B6B;
                  padding: 0.5rem 2rem;
                  text-decoration: none;
                  position: relative;
                  line-height: 19px;
                  cursor: pointer;
                  display: flex;
                  align-items: center;

                  span.dash-menu-icon {
                    display: inline-block;
                    margin-right: 1.5rem;
                    background-color: #142833;
                    padding: 10px;
                    border-radius: 15px;

                    svg {
                      height: 20px;

                      path {
                        fill: #6C6B6B;
                      }
                    }

                    >span {
                      margin-right: 5px;
                    }
                  }

                  &.current,
                  &:hover {
                    transition: .4s;
                    color: #ffffff;

                    span.dash-menu-icon {
                      background-color: #273A44;

                      svg {
                        path {
                          fill: #ffffff;
                        }
                      }
                    }
                  }
                }

                .dropdown {
                  display: none;
                  padding-left: 30px;

                  // &.active {
                  //   display: block;
                  // }
                }

                &:hover {
                  background: #142833;

                  >a {
                    transition: .4s;
                    color: #ffffff;
                  }
                }

                &.current {

                  >a {
                    transition: .4s;
                    color: #ffffff;
                  }

                  .dropdown {
                    display: block;
                  }
                }

                &.dop-click {
                  >a::after {
                    display: inline-block;
                    margin-left: .255em;
                    vertical-align: .255em;
                    content: "";
                    border-top: .3em solid;
                    border-right: .3em solid transparent;
                    border-bottom: 0;
                    border-left: .3em solid transparent;
                    margin-left: auto;
                    margin-right: 5px;
                  }

                  .dropdown.droped-open {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }

      .additional-info {
        padding: 0.7rem 1rem;
        margin: 40px 2rem 5px;
        border-radius: 10px;
        border: 1px dashed rgba(255, 255, 255, 0.2);
        color: #ffffff;

        img {
          margin-right: 10px;
        }

        h3 {
          font-size: 20px;
          margin-bottom: 5px;
        }

        p {
          font-size: 12px;
          line-height: 15px;
          margin-bottom: 0px;

          span {
            color: rgba(255, 255, 255, 0.6);
          }
        }
      }
    }

    .main-content {
      background-color: #e5e5e5;
      background-color: #EBF1F4;
      height: 100vh;

      mat-toolbar {
        background-color: #ffffff;

        // .sidemenu-toggle {
        //   margin-right: 5px;
        // }

        // .toolbar-categories-menu {
        //   margin-right: 5px;
        // }

        .toolbar-searchbar {
          max-width: 400px;
          width: 100%;

          .input-group-text {
            background-color: #ffffff;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border-right: 0px;
            padding-right: 0px;
          }

          input {
            border-left: 0px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
          }
        }

        // .mat-icon-button {
        //   margin-right: 5px;
        // }

        .profile-menu {

          img {
            border-radius: 50%;
            background-color: grey;
            margin-right: 10px;
            height: 40px;
          }

          .user-details {
            display: inline-block;
            margin-right: 20px;

            p {
              margin: 0px;
              padding: 0px;
              line-height: 1;
              text-align: left;

              &.top {
                font-weight: 200;
                font-size: 13px;
                line-height: 15px;
                color: #9A9A9B;
              }

              &.bottom {
                font-weight: 400;
                font-size: 15px;
                line-height: 21px;
                color: #002B43;
              }
            }
          }
        }
      }
    }
  }
