<div class="wishlist">
  <div class="col-12">
    <div class="course-card-container">
      <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-3">
          <mat-card class="shadow-none">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-card-subtitle>8593 students<span class="duration">1h 55m</span></mat-card-subtitle>
              <a mat-card-title>Smart Responsive UX Design Clever Tips, Tricks and Techniques</a>
            </mat-card-content>
            <div class="price">
              <p><span class="currency">&#8358;</span> <span class="amount">19,500</span></p>
            </div>
            <mat-card-footer>
              <a mat-flat-button href="" target="_blank">Leon Matthews</a>
              <div class="spacer"></div>
              <button mat-icon-button>
                <mat-icon class="">favorite_border</mat-icon>
              </button>

              <button mat-icon-button>
                <mat-icon class="">bookmark_border</mat-icon>
              </button>
            </mat-card-footer>
          </mat-card>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
          <mat-card class="shadow-none">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-card-subtitle>8593 students<span class="duration">1h 35m</span></mat-card-subtitle>
              <a mat-card-title>Smart Responsive UX Design Clever Tips, Tricks and Techniques</a>
            </mat-card-content>
            <div class="price">
              <p><span class="currency">&#8358;</span> <span class="amount">19,500</span></p>
            </div>
            <mat-card-footer>
              <a mat-flat-button href="" target="_blank">Leon Matthews</a>
              <div class="spacer"></div>
              <button mat-icon-button>
                <mat-icon class="">favorite_border</mat-icon>
              </button>

              <button mat-icon-button>
                <mat-icon class="">bookmark_border</mat-icon>
              </button>
            </mat-card-footer>
          </mat-card>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
          <mat-card class="shadow-none">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-card-subtitle>8593 students<span class="duration">1h 20m</span></mat-card-subtitle>
              <a mat-card-title>The art of copywriting, and winning your Audience</a>
            </mat-card-content>
            <div class="price">
              <p><span class="currency">&#8358;</span> <span class="amount">19,500</span></p>
            </div>
            <mat-card-footer>
              <a mat-flat-button href="" target="_blank">Leon Matthews</a>
              <div class="spacer"></div>
              <button mat-icon-button>
                <mat-icon class="">favorite_border</mat-icon>
              </button>

              <button mat-icon-button>
                <mat-icon class="">bookmark_border</mat-icon>
              </button>
            </mat-card-footer>
          </mat-card>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
          <mat-card class="shadow-none">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-card-subtitle>8593 students<span class="duration">2h 10m</span></mat-card-subtitle>
              <a mat-card-title>Smart Responsive UX Design Clever Tips, Tricks and Techniques</a>
            </mat-card-content>
            <div class="price">
              <p><span class="currency">&#8358;</span> <span class="amount">19,500</span></p>
            </div>
            <mat-card-footer>
              <a mat-flat-button href="" target="_blank">Adebayo Dada</a>
              <div class="spacer"></div>
              <button mat-icon-button>
                <mat-icon class="">favorite_border</mat-icon>
              </button>

              <button mat-icon-button>
                <mat-icon class="">bookmark_border</mat-icon>
              </button>
            </mat-card-footer>
          </mat-card>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
          <mat-card class="shadow-none">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-card-subtitle>8593 students<span class="duration">2h 10m</span></mat-card-subtitle>
              <a mat-card-title>Smart Responsive UX Design Clever Tips, Tricks and Techniques</a>
            </mat-card-content>
            <div class="price">
              <p><span class="currency">&#8358;</span> <span class="amount">19,500</span></p>
            </div>
            <mat-card-footer>
              <a mat-flat-button href="" target="_blank">Adebayo Dada</a>
              <div class="spacer"></div>
              <button mat-icon-button>
                <mat-icon class="">favorite_border</mat-icon>
              </button>

              <button mat-icon-button>
                <mat-icon class="">bookmark_border</mat-icon>
              </button>
            </mat-card-footer>
          </mat-card>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
          <mat-card class="shadow-none">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-card-subtitle>8593 students<span class="duration">2h 10m</span></mat-card-subtitle>
              <a mat-card-title>Smart Responsive UX Design Clever Tips, Tricks and Techniques</a>
            </mat-card-content>
            <div class="price">
              <p><span class="currency">&#8358;</span> <span class="amount">19,500</span></p>
            </div>
            <mat-card-footer>
              <a mat-flat-button href="" target="_blank">Adebayo Dada</a>
              <div class="spacer"></div>
              <button mat-icon-button>
                <mat-icon class="">favorite_border</mat-icon>
              </button>

              <button mat-icon-button>
                <mat-icon class="">bookmark_border</mat-icon>
              </button>
            </mat-card-footer>
          </mat-card>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
          <mat-card class="shadow-none">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-card-subtitle>8593 students<span class="duration">2h 10m</span></mat-card-subtitle>
              <a mat-card-title>Smart Responsive UX Design Clever Tips, Tricks and Techniques</a>
            </mat-card-content>
            <div class="price">
              <p><span class="currency">&#8358;</span> <span class="amount">19,500</span></p>
            </div>
            <mat-card-footer>
              <a mat-flat-button href="" target="_blank">Adebayo Dada</a>
              <div class="spacer"></div>
              <button mat-icon-button>
                <mat-icon class="">favorite_border</mat-icon>
              </button>

              <button mat-icon-button>
                <mat-icon class="">bookmark_border</mat-icon>
              </button>
            </mat-card-footer>
          </mat-card>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
          <mat-card class="shadow-none">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-card-subtitle>8593 students<span class="duration">2h 10m</span></mat-card-subtitle>
              <a mat-card-title>Smart Responsive UX Design Clever Tips, Tricks and Techniques</a>
            </mat-card-content>
            <div class="price">
              <p><span class="currency">&#8358;</span> <span class="amount">19,500</span></p>
            </div>
            <mat-card-footer>
              <a mat-flat-button href="" target="_blank">Adebayo Dada</a>
              <div class="spacer"></div>
              <button mat-icon-button>
                <mat-icon class="">favorite_border</mat-icon>
              </button>

              <button mat-icon-button>
                <mat-icon class="">bookmark_border</mat-icon>
              </button>
            </mat-card-footer>
          </mat-card>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
          <mat-card class="shadow-none">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-card-subtitle>8593 students<span class="duration">2h 10m</span></mat-card-subtitle>
              <a mat-card-title>Smart Responsive UX Design Clever Tips, Tricks and Techniques</a>
            </mat-card-content>
            <div class="price">
              <p><span class="currency">&#8358;</span> <span class="amount">19,500</span></p>
            </div>
            <mat-card-footer>
              <a mat-flat-button href="" target="_blank">Adebayo Dada</a>
              <div class="spacer"></div>
              <button mat-icon-button>
                <mat-icon class="">favorite_border</mat-icon>
              </button>

              <button mat-icon-button>
                <mat-icon class="">bookmark_border</mat-icon>
              </button>
            </mat-card-footer>
          </mat-card>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
          <mat-card class="shadow-none">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-card-subtitle>8593 students<span class="duration">2h 10m</span></mat-card-subtitle>
              <a mat-card-title>Smart Responsive UX Design Clever Tips, Tricks and Techniques</a>
            </mat-card-content>
            <div class="price">
              <p><span class="currency">&#8358;</span> <span class="amount">19,500</span></p>
            </div>
            <mat-card-footer>
              <a mat-flat-button href="" target="_blank">Adebayo Dada</a>
              <div class="spacer"></div>
              <button mat-icon-button>
                <mat-icon class="">favorite_border</mat-icon>
              </button>

              <button mat-icon-button>
                <mat-icon class="">bookmark_border</mat-icon>
              </button>
            </mat-card-footer>
          </mat-card>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
          <mat-card class="shadow-none">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-card-subtitle>8593 students<span class="duration">2h 10m</span></mat-card-subtitle>
              <a mat-card-title>Smart Responsive UX Design Clever Tips, Tricks and Techniques</a>
            </mat-card-content>
            <div class="price">
              <p><span class="currency">&#8358;</span> <span class="amount">19,500</span></p>
            </div>
            <mat-card-footer>
              <a mat-flat-button href="" target="_blank">Adebayo Dada</a>
              <div class="spacer"></div>
              <button mat-icon-button>
                <mat-icon class="">favorite_border</mat-icon>
              </button>

              <button mat-icon-button>
                <mat-icon class="">bookmark_border</mat-icon>
              </button>
            </mat-card-footer>
          </mat-card>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
          <mat-card class="shadow-none">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-card-subtitle>8593 students<span class="duration">2h 10m</span></mat-card-subtitle>
              <a mat-card-title>Smart Responsive UX Design Clever Tips, Tricks and Techniques</a>
            </mat-card-content>
            <div class="price">
              <p><span class="currency">&#8358;</span> <span class="amount">19,500</span></p>
            </div>
            <mat-card-footer>
              <a mat-flat-button href="" target="_blank">Adebayo Dada</a>
              <div class="spacer"></div>
              <button mat-icon-button>
                <mat-icon class="">favorite_border</mat-icon>
              </button>

              <button mat-icon-button>
                <mat-icon class="">bookmark_border</mat-icon>
              </button>
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
