<mat-list>
  <mat-list-item>
    <img matListAvatar src="/assets/images/mini-thumbnail.png" alt="...">
    <a matLine href="/">Introduction to UX Design</a>
    <p matLine>
      <span>John Shaw</span>
      <span class="pill color-cream">DESIGN</span>
    </p>
  </mat-list-item>
  <mat-list-item>
    <img matListAvatar src="/assets/images/mini-thumbnail.png" alt="...">
    <a matLine href="/">Web Development Tutorial</a>
    <p matLine>
      <span>Ernest Isa</span>
      <span class="pill color-pink">TECH</span>
    </p>
  </mat-list-item>
  <mat-list-item>
    <img matListAvatar src="/assets/images/mini-thumbnail.png" alt="...">
    <a matLine href="/">Introduction to UX Design</a>
    <p matLine>
      <span>John Shaw</span>
      <span class="pill color-cream">DESIGN</span>
    </p>
  </mat-list-item>
  <mat-list-item>
    <img matListAvatar src="/assets/images/mini-thumbnail.png" alt="...">
    <a matLine href="/">Career Soft Skills</a>
    <p matLine>
      <span>John Shaw</span>
      <span class="pill color-green">CAREER</span>
    </p>
  </mat-list-item>
</mat-list>
