
<div class="row mt-3">
  <div class="col-md-12">
    <input type="text" placeholder="Enter search term, then hit enter to search" class="form-control" (keydown.enter)="onSearch($event.target.value)">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" fixedLayout="false" class="leaderboard-table">

        <ng-container matColumnDef="asset">
          <th mat-header-cell *matHeaderCellDef>Asset</th>
          <td mat-cell *matCellDef="let element">{{element?.asset.name}}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">{{element.description}}</td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef class="text-right">Amount</th>
          <td mat-cell *matCellDef="let element" class="text-right"> {{element.amount | currency:element?.asset.currency:'symbol-narrow'}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="text-center">Status</th>
          <td mat-cell *matCellDef="let element" class="text-center" [ngClass]="element.status=='success' ? 'text-success' : 'text-danger'"> {{element.status}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <span class="header-menu">
              <button mat-icon-button [matMenuTriggerFor]="historylistmenu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #historylistmenu="matMenu">
                <a href="javascript:;" (click)="onMakePayment(element)" mat-menu-item>
                  <mat-icon>drive_file_rename_outline</mat-icon> View Details
                </a>
              </mat-menu>
            </span>
            <!-- <mat-spinner *ngIf="deleting" [diameter]="20"></mat-spinner> -->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="cursor-pointer"></tr>
      </table>
    </div>
    <div *ngIf="isLoading$ | async" class="mat-spinner-container">
      <mat-spinner></mat-spinner>
    </div>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
    <mat-paginator [length]="total_count" [pageSize]="pageSize"></mat-paginator>
  </div>
</div>
