@import './assets/fonts/fonts.css';
// Custom Theming for Angular Material
@import '~filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css';

//For ng-select
@import "~@ng-select/ng-select/themes/default.theme.css";
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500);
@import '~ngx-toastr/toastr';
// @import "~@ng-select/ng-select/themes/material.theme.css";
.ng-select .ng-select-container {
  // min-height: 52px;
  height: calc(3.5rem + 2px)!important;
  border-radius: 10px;
  border: 1px solid #002b43;
}
.ng-select.ng-select-single .ng-select-container {
  // height: 52px;
  height: calc(3.5rem + 2px)!important;
  border-radius: 10px;
  border: 1px solid #002b43;
}
.mat-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$investnaija-learning-cp-primary: mat-palette($mat-indigo);
$investnaija-learning-cp-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$investnaija-learning-cp-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$investnaija-learning-cp-theme: mat-light-theme((color: (primary: $investnaija-learning-cp-primary,
      accent: $investnaija-learning-cp-accent,
      warn: $investnaija-learning-cp-warn,
    )));

$investnaija-learning-cp-typography: mat-typography-config($font-family: 'Poppins, HK Grotesk, Roboto, Helvetica Neue, sans-serif'
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($investnaija-learning-cp-theme);
@include angular-material-typography($investnaija-learning-cp-typography);
/* You can add global styles to this file, and also import other style files */


html,
body {
  height: 100%;
}

body {
  margin: 0;
  // font-family: "HK Grotesk", Roboto, "Helvetica Neue", sans-serif;
  font-family: "Poppins","HK Grotesk", Roboto, "Helvetica Neue", sans-serif;
  // background-color: #EBF1F4;
}

.spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

a.mat-menu-item {
  text-decoration: none;
}

.page-title {
  display: flex;
  justify-content: space-between;

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 48px;
    color: #002B43;
    margin-bottom: 25px;
  }

  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    color: #0F242F;
  }

  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 28px;
    color: #1E1F20;
  }

  button, a {
    padding: 0 20px;
    height: 50px;
    background: #FF652F;
    border-radius: 10px;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
  }
}

.page-filter {
  margin-bottom: 30px;

  .advanced-filter-section,
  .filter-section {
    margin-bottom: 20px;
  }

  .advanced-filter-section {
    display: none;
  }

  .filter-section {}

  .advanced-filter-button {
    button.mat-button {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      // line-height: 21px;
      text-decoration: underline;
      color: #000000
    }
  }

  label {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #1E1F20;

    &.form-check-label {
      font-size: 12px;
      line-height: 15px;
    }
  }

  select {
    width: 171px;
    background: #C9D7DE;
    border-radius: 30px;
    padding: 10px 10px;
    border: none;

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #1E1F20;
  }
}

.course-card-container {

  mat-card.mat-card {
    border-radius: 10px;
    margin-bottom: 30px;

    .mat-card-image {
      height: 115px;
      object-fit: cover;
    }

    .mat-card-content {
      margin-bottom: 10px;

      .mat-card-subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 14px;
        position: relative;

        span.duration {
          position: absolute;
          right: 0px;
        }
      }

      .mat-card-title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        color: #1E1F20;
        min-height: 65px;
      }
    }

    .price {
      p {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #1E1F20;
        margin-bottom: 0px;
      }
    }

    .mat-card-footer {
      display: flex;
      padding-bottom: 5px;

      a.mat-flat-button {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #002B43;
        background-color: transparent;
      }
    }
  }
}
.text-primary {
  color: #b97231!important;
}
.btn-danger{
  color: #000;
  background-color: #06262D;
  border-color: #06262D;
}
.auth-button {
  border: none;
  background-color: #06262D;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  padding: 15px 35px;
}
input.form-control {
  border: 1px solid #002b43;
  box-sizing: border-box;
  padding-left: 1.1rem;
  border-radius: 10px;
  font-size: 15px;
  line-height: 16px;
  color: #002b43;
  height: calc(3.5rem + 2px)!important;
  padding: 1rem .75rem!important;
}
input.ng-invalid.ng-dirty {
  border-bottom-color: red;
  color: red;
  + span {
    color: red;
    font-weight: normal;
  }
}
