.bank-form-container {
  margin: 20px 0;

  .form-group {
    margin-bottom: 30px;
  }

  label {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #1E1F20;
    opacity: 0.6;
  }

  input, select {
    height: 52px;
    background: #FFFFFF !important;
    border: 1px solid #DEDFE0;
    border-radius: 10px;
  }

  .submit-bank-form {
    // width: 144px;
    height: 50px;
    background: #FF652F;
    color: #FFFFFF;
    border-radius: 10px;
  }
}
